<div>
  <div class="container">
    <div class="row">
      {{#each data}}
      <div class="col-md-4">
        <img src={{this.imageSrc}}>
        <h3>{{this.game}}</h1>
        <p>
          <span>Viewers:</span> {{this.viewers}}</p>
      </div>
      {{/each}}
    </div>
  </div>
</div>